@import "_variables.scss";
@import "_mixins.scss";
@import "_reset.scss";
@import "_root.scss";


/* APP */
.wrapper {
	position: relative;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.breakpoints {
	@include breakpoint(xxl) { 
		font-size: 13px;
	}
	@include breakpoint(xl) {
		font-size: 12px;
	}
	@include breakpoint(lg) {
		display: none;
	}  
}


/* SHARED */
.text {
	&-preview {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
		overflow: hidden;
		&-open {
			cursor: pointer;
		}
		&.open {
			line-clamp: inherit;
		}
	}
	&-line-1 {
		line-clamp: 1;
	}
	&-line-2 {
		line-clamp: 2;
	}
	&-line-3 {
		line-clamp: 3;
	}
	&--is-clamped {
		cursor: help;
	}
}
.icon {
	stroke: currentColor;
	&-fill {fill: currentColor;}
	&-rotate-90 {transform: rotate(90deg);}
	&-rotate-180 {transform: rotate(180deg);}
	&-rotate-270 {transform: rotate(270deg);}
}


.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 900px;
}

// .circle {
// 	position: relative;
// 	width: var(--circle-size);
// 	height: var(--circle-size);
// 	background-color: transparent;
// 	border: 1px solid var(--second-color);
// 	border-radius: 50%;
// 	counter-reset: num;
// }

.list-item {
	
	position: absolute;
	top: calc(50% - var(--circle-item-size) / 2);
	left: calc(50% - var(--circle-item-size) / 2);
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--circle-item-size) !important;
	height: var(--circle-item-size) !important;
	background-color: var(--second-color);
	border-radius: 50%;
	list-style-type: none;
	transition: $trans;
	counter-increment: num;

	&::before {
		content: counter(num);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		font-size: 0;
		opacity: 0;
		transition: $trans;
	}
	&:after {
		content: '';
		position: absolute;
		inset: -10px;
	  }

	> span {
		position: absolute;
		top: 50%;
		right: -20px;
		font-size: 20px;
		pointer-events: none;
		transition: all 0.2s ease-out;
		transform: translate(100%, -50%);
	}
	&:hover  {
		--circle-item-size: 56px;
		font-size: 20px;
		background-color: var(--second-light-color);
		border: 1px solid #303E5880;
		&::before {
			font-size: 20px;
			opacity: 1;
		}
	}
}

.swiper {
	max-width: 100%;
	width: 600px;
	overflow: visible;
}
.swiper-slide-active {
	border: 2px solid red;
	padding: 10px;
}

.swiper-slide {
	max-width: 100px;
	transition: all 0.8s ease-out;
}
.swiper-wrapper {
	position: relative;
	width: var(--circle-size) !important;
	height: var(--circle-size) !important;
	background-color: transparent;
	border: 1px solid var(--second-color);
	border-radius: 50%;
	counter-reset: num;
	overflow: visible !important;
}
.swiper-slide {
	position: absolute;
	top: calc(50% - var(--circle-item-size) / 2);
	left: calc(50% - var(--circle-item-size) / 2);
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--circle-item-size) !important;
	height: var(--circle-item-size) !important;
	background-color: var(--second-color);
	border-radius: 50%;
	list-style-type: none;
	transition: $trans;
}