*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
dfn,
del,
p,
blockquote,
fieldset,
input,
textarea,
select,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
button,
canvas,
video {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  color: inherit;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: 0;
}

button,
button:hover,
button:focus,
.btn:focus,
.btn:active:focus {
  outline: 0;
}

button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
}

textarea {
  max-width: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 40px;
}

ul,
ol,
dl {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
dt,
dd {
  padding: 0;
  margin: 0;
}

b,
dt,
h1,
h2,
h3,
h4,
h5,
strong {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: normal;
}

s {
  text-decoration-color: var(--main-color);
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  min-width: 320px;
  font-family: "Montserrat-Regular", sans-serif;
  color: var(--text-color);
  background: var(--second-light-color);
}

header {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

:root {
  scroll-behavior: inherit;
  --bs-gutter-x: 20px;
  --fs-72-32: 4.5rem;
  --fs-72-24: var(--fs-72-32);
  --fs-48-24: 3rem;
  --fs-48-sm-18: var(--fs-48-24);
  --fs-48-xs-18: var(--fs-48-24);
  --fs-36-24: 2.25rem;
  --fs-36-sm-18: var(--fs-36-24);
  --fs-32-24: 2rem;
  --fs-32-sm-18: var(--fs-32-24);
  --fs-32-sm-16: var(--fs-32-24);
  --fs-24-18: 1.5rem;
  --fs-24-lg-16: var(--fs-24-18);
  --fs-24-sm-16: var(--fs-24-18);
  --fs-18-16: 1.125rem;
  --fs-18-14: var(--fs-18-16);
  --fs-16-14: 1rem;
  --fs-16-sm-12: var(--fs-16-14);
  --fs-16-xs-12: var(--fs-16-14);
  --fs-16-sm-10: var(--fs-16-14);
  --fs-16-xs-10: var(--fs-16-14);
  --fs-14-12: 0.875rem;
  --fs-14-sm-10: var(--fs-14-12);
  --fs-14-xs-10: var(--fs-14-12);
  --size-60-50: 60px;
  --size-60-40: 60px;
  --size-50-40: 50px;
  --size-50-30: 50px;
  --size-40-30: 40px;
  --size-30-25: 30px;
  --border-raduis-24: 24px;
  --border-raduis-18: 18px;
  --border-raduis-16: 16px;
  --border-raduis-main: 2px;
  --page-gap: 60px;
  --header-height: 100px;
  --circle-size: 530px;
  --circle-item-size: 6px;
  --main-color: #f87b11;
  --main-color-hover: #f78f08;
  --accent-color: #333;
  --accent-color-hover: #333;
  --second-color: #42567A;
  --second-light-color: #F4F5F9;
  --text-color: #000;
  --body-bg-color: #fff;
  --shadow: 8px 8px 15px 0px rgba(0,0,0,.1);
}

@media (max-width: 1699px) and (min-width: 0px) {
  :root {
    --fs-72-32: 3rem;
    --fs-48-24: 2.25rem;
    --fs-36-24: 2rem;
    --fs-32-24: 1.875rem;
  }
}
@media (max-width: 1399px) and (min-width: 0px) {
  :root {
    --fs-72-32: 2.625rem;
    --fs-36-24: 1.5rem;
    --fs-32-24: 1.5rem;
    --fs-24-18: 1.375rem;
    --fs-16-14: 0.875rem;
    --fs-14-12: 0.75rem;
  }
}
@media (max-width: 1199px) and (min-width: 0px) {
  :root {
    --fs-72-32: 2.25rem;
    --fs-48-24: 2rem;
    --fs-24-18: 1.125rem;
    --fs-24-lg-16: 1rem;
    --fs-18-16: 1rem;
    --fs-18-14: 0.875rem;
    --size-60-50: 50px;
    --size-60-40: 40px;
    --size-50-40: 40px;
    --size-50-30: 30px;
    --size-40-30: 30px;
    --size-30-25: 25px;
    --wrapper-gap: 40px;
  }
}
@media (max-width: 991px) and (min-width: 0px) {
  :root {
    --fs-72-32: 2rem;
    --fs-48-24: 1.5rem;
  }
}
@media (max-width: 767px) and (min-width: 0px) {
  :root {
    --fs-72-24: 1.5rem;
    --fs-48-sm-18: 1.125rem;
    --fs-36-sm-18: 1.125rem;
    --fs-32-sm-18: 1.125rem;
    --fs-32-sm-16: 1rem;
    --fs-24-sm-16: 1rem;
    --fs-16-sm-12: 0.75rem;
    --fs-16-sm-10: 0.625rem;
    --fs-14-sm-10: 0.625rem;
  }
}
@media (max-width: 576px) and (min-width: 0px) {
  :root {
    --bs-gutter-x: 15px;
    --fs-48-xs-18: 1.125rem;
    --fs-16-xs-12: 0.75rem;
    --fs-16-xs-10: 0.625rem;
    --fs-14-xs-10: 0.625rem;
  }
}
/* APP */
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

@media (max-width: 1699px) and (min-width: 0px) {
  .breakpoints {
    font-size: 13px;
  }
}
@media (max-width: 1399px) and (min-width: 0px) {
  .breakpoints {
    font-size: 12px;
  }
}
@media (max-width: 1199px) and (min-width: 0px) {
  .breakpoints {
    display: none;
  }
}

/* SHARED */
.text-preview {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.text-preview-open {
  cursor: pointer;
}
.text-preview.open {
  line-clamp: inherit;
}
.text-line-1 {
  line-clamp: 1;
}
.text-line-2 {
  line-clamp: 2;
}
.text-line-3 {
  line-clamp: 3;
}
.text--is-clamped {
  cursor: help;
}

.icon {
  stroke: currentColor;
}
.icon-fill {
  fill: currentColor;
}
.icon-rotate-90 {
  transform: rotate(90deg);
}
.icon-rotate-180 {
  transform: rotate(180deg);
}
.icon-rotate-270 {
  transform: rotate(270deg);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.circle {
  position: relative;
  width: var(--circle-size);
  height: var(--circle-size);
  background-color: transparent;
  border: 1px solid var(--second-color);
  border-radius: 50%;
  counter-reset: num;
}

.list-item {
  position: absolute;
  top: calc(50% - var(--circle-item-size) / 2);
  left: calc(50% - var(--circle-item-size) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--circle-item-size);
  height: var(--circle-item-size);
  background-color: var(--second-color);
  border-radius: 50%;
  list-style-type: none;
  transition: all 0.2s ease-out;
  counter-increment: num;
}
.list-item::before {
  content: counter(num);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 0;
  opacity: 0;
  transition: all 0.2s ease-out;
}
.list-item:after {
  content: "";
  position: absolute;
  inset: -10px;
}
.list-item > span {
  position: absolute;
  top: 50%;
  right: -20px;
  font-size: 20px;
  pointer-events: none;
  transition: all 0.2s ease-out;
  transform: translate(100%, -50%);
}
.list-item:hover {
  --circle-item-size: 56px;
  font-size: 20px;
  background-color: var(--second-light-color);
  border: 1px solid rgba(48, 62, 88, 0.5019607843);
}
.list-item:hover::before {
  font-size: 20px;
  opacity: 1;
}

@media (max-width: 1199px) and (min-width: 0px) {
  .page__content .cols-2-1 {
    gap: 40px;
  }
  .page__content table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
  }
  .open-menu {
    padding-right: 0px;
  }
  .bottom-fixed {
    display: flex;
  }
  .offcanvas__close {
    right: -30px;
  }
}